.app {
  padding: 20px;
  user-select: none;
}

.title {
  font-size: 20px;
  color: #000;
}


@font-face {
  font-family: "iconfont";
  src: url('iconfont.ttf?t=1659513983328') format('truetype');
}
